/*  ===== GLOBAL STYLES ===== */

*,
*::after,
*::before
{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    /* overflow-x: hidden; */
}

p {
    font-size: 0.8em;
    line-height: 140%;
    letter-spacing: 1px;
    color: #83A7A5;
}

a {
    letter-spacing: 1px;
}

h1,
h2,
h3, 
h4,
h5,
h6
{
    color: #0F5F5C;
}
/*  ===== COMPANENTS ===== */

.section {
    width: 90%;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-s-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*---------header component----------*/

.heading {
    padding: 2em 0;
}

.heading-title {
    margin: 0;
    text-align: center;
}

.gl {
    width: 5em;
    margin: 1em 0;
    border-bottom: 2px solid #6FB048;
}

.heading-text {
    margin: 0;
    text-align: center;
    max-width: 50ch;
}

/*------------end of header component--------------*/
    

/* ===== SECTION HERO ===== */


.hero-wrapper {
    background-color: #4D6D6E;
    background-image: linear-gradient(90deg, rgba(43,91,91,0.7539215515307686) 0%, rgba(43,91,91,0.75) 100%), url('./public/images/hero.png');
    background-position: top center;
}

.nav {
    border-bottom: 2px solid #4D6D6E;
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    color: #f1f1f1;
}

.vl {
    height: 1.2em;
    border-left: 2px solid #4D6D6E;
    margin: 0 1em;
}

.logo-phone {
    line-height: 80%;
    font-size: 0.6em;
    font-weight: bolder;
    color: #f1f1f1;
}

.nav-link {
    line-height: 80%;
    font-size: 0.6em;
    font-weight: bolder;
    padding: 1em 0;
    margin: 0 1em;
    color: #BDC7C7;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 400ms;
}

.nav-link::before {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4D6D6E;

    transition: all ease-in-out 0.5s;
}

.nav-link:hover::before {
    color: #ededed;
    width: 100%;
}

.active-link {
    color: #f1f1f1;
}

.nav-button {
    box-shadow: 0 0 .5px .5px #7d898a;
    padding: 1em;
    margin-right: 0;
    border-radius: 2px;
    background-color: #6B8182;
    color: #f1f1f1;
}

.nav-button::before {
    background-color: #555555;
}

.menu-icon {
    display: none;
    color: #BDC7C7;
    cursor: pointer;
    display: none;
}


@media screen and (max-width: 45em) {
    .nav {
        padding: 1em 0;
        position: relative;
    }

    .nav-logo,
    .menu-icon {
        z-index: 1;
        display: block;
    }

    .vl {
        margin: 0 0.5em;
    }

    .nav-bar {
        margin: 0;
        padding: 0;
        padding: 3em 1.5em;
        position: absolute;
        top: 0;
        /* left: 0; */
        right: -5%;
        width: 200px;
        background-color: #4d6d6ec6;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        
        transform: translateX(100%);
        transition: all ease-in-out 700ms;
        transition-timing-function: cubic-bezier(.9,-0.92,.9,1.55);
    }

    .nav-link::before {
        background-color: #345755;
    }
}

@keyframes sidebarLinksFade {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.activate-nav {
    transform: translateX(0%);
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    height: 90vh;
    color: #FFFFFF;
}

.hero-title {
    margin: 0;
    line-height: 90%;
    color: #FFFFFF;
}

.hero-text {
    width: clamp(30ch, 56%, 60ch);
    color: #FFFFFF;
}

.hero-button {
    padding: 1em 2.5em;
    font-size: 0.6em;
    font-weight: bolder;
    text-decoration: none;

    border-radius: 2px;
    background-color: #6FB048;
    color: #FFFFFF;
}


/* ===== SECTION FEATURES ===== */

.best-features {
    padding: 1em 0;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2em 0;
}

.f-card {
    max-width: 325px;
    padding: 1em;
}

.f-card h4 {
    margin: 1em 0;
}

.f-card p {
    text-align: center;
    margin: 0;
}

.other-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    padding-bottom: 2em;
}

.other-f-card {
    padding: 1em;
    max-width: 450px;
}

.other-f-card-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.other-f-card-head h4 {
    margin: 0;
}

.other-f-card-head svg {
    margin-right: 1em;
}


/* ===== SECTION TEMPLATE ======= */

.template-wrapper {
    background-color: #EEF1EC;
}

.section-template {
    padding: 1em  0;
    overflow: hidden;
}

.template-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
}

.t-body-images {
    padding-right: 2em;
    height: 338px;
    overflow: hidden;
}

.t-body-images img {
    max-height: 130%;
}

.t-body-content {
    height: min-content;
    padding: 1em 0;
}

.t-b-content-paragraph {
    display: flex;
    align-items: center;
}

.t-b-content-paragraph svg {
    margin-right: 1em;
}

@media screen and (max-width:  50em) {
    .template-body {
        grid-template-columns: 1fr;
    }

    .t-body-images {
        height: 180px;
    }
}

/* ===== SECTION TESTIMONIALS ====== */

.testimonial-wrapper {
    width: 100%;
    margin: 5em 0;
}

.section-testimonial {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.testimonial-content {
    width: 50%;
    margin: 0 auto;
}

.main-testimonial-text {
    color: #83A7A5;
    font-weight: 500;
    line-height: 150%;

    font-family: 'Merriweather','Roboto', serif;
}

.testimonial-avatar {
    height: 350px;
    width: 350px;
    background: gray;
    background-image: url('https://thehill.com/sites/default/files/styles/article_full/public/pichaisundar_121118gn14_lead.jpg?itok=6QO5sleU');
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

@media (max-width: 50em) {
    .testimonial-wrapper {
        margin: 2em 0;
    }
    .testimonial-content {
        width: 100%;
    }
}

@media (max-width: 30em) {
    .section-testimonial {
        flex-direction: column;
    }
    .testimonial-avatar {
        order: -1;
        height: 200px;
        width: 200px;
        background-position: center;
    }
}

.person-info h5 {
    margin: 0;
    letter-spacing: 1px;
    line-height: 80%;
    margin-bottom: 0.2em;
    font-size: 0.8em;
}

.person-name {
    color: #6FB048;
}

.person-status {
    color: #83A7A5;
}

/* ===== SECTION DETAILS ===== */

.details-wrapper {
    background-color: #EEF1EC;
    padding: 2em 0;
}

.section-details {
    display: flex;
    justify-content: center;
    align-items: center;
]}

.details-content {
    width: 50%;
}

.details-map {
    width: 50%;
    height: 300px;
    background-image: url('./public/images/Vector\ Smart\ Object@1X.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 60em) {
    .section-details {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .details-content {
        width: 80%;
    }

    .details-map {
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 50em) {
    .details-content {
        width: 100%;
    }
    .details-map {
        height: 250px;
    }
}

@media screen and (max-width: 20em) {
    .details-map {
        height: 150px;
    }
}

/* ===== SECTION PLAN & PRICING ====== */

.available-plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.plan-card {
    width: 200px;
    height: 361px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 1.5em 0;
    border: 1px solid #C1D3D2;
    border-collapse: collapse;
}

.plan-name,
.plan-price,
.plan-length
{
    margin: 0;
}

.plan-name {
    margin-bottom: 1.5em;
    color: #6FB048;
}

.plan-price {
    font-size: 2.5em;
    font-weight: 900;
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    line-height: 80%;
    letter-spacing: 2px;
}

.plan-length {
    font-weight: normal;
}

.plan-details {
    line-height: 170%;
    text-align: center;
    color: #83A7A5;
}

.plan-action-btn {
    border-radius: 2px;
    border: none;
    letter-spacing: 1px;
    line-height: 80%;
    padding: 1em 2.5em;
    color: #FFFFFF;
    font-weight: bolder;
    background-color: #83A7A5;
}

.plan-action-btn:hover, .plan-action-btn :focus {
    background-color: #6FB048;
}

.included-services {
    padding: 2em 0;
}

.included-services-columns {  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service-column {
    padding: 1em 2em;
}

.service-column .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.row svg {
    width: 3em;
}

.row p {
    margin-left: 0.5em;
}

.need-s-icon {
    margin-bottom: 1em;
}

@media screen and (max-width: 40em) {
    .service-column {
        padding: 1em 0;
    }
}

/* SECTION CALL TO ACTION */ 

.call-to-action-wrapper {
    background-color: #E6E9E5;
    background-image: linear-gradient(90deg, rgba(255,255,255,0.8015405991498161) 0%, rgba(255,255,255,0.809943960494354) 100%), url('https://blog-www.pods.com/wp-content/uploads/2020/07/Feature-Home-Office-GEtty-Resized.jpg');
    background-position: center;
    background-size: cover;
}

.section-call-to-action  {
    padding: 3em 0;
}

.call-to-action-heading h1, .call-to-action-heading p {
    margin: 0;
}


.call-to-action-btn {
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    letter-spacing: 1px;
    line-height: 80%;
    padding: 1em 2.5em;
    margin-top: 2em;
    color: #FFFFFF;
    font-weight: bolder;
    background-color: #6FB048;
}

.call-to-action-btn:hover {
    background-color: #5aac2a;
}

/* SECTION FOOTER */

.main-footer {
    display: grid;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    grid-template-columns: 1.5fr repeat(2, 1fr) 1.5fr;
    grid-auto-rows: 1fr;
    padding: 3em 0;
    padding-bottom: 1em;
}

@media screen and (max-width: 50em) {
    .main-footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 25em) {
    .main-footer {
        grid-template-columns: 1fr;
    }
}

.footer-column {
    min-height: 12em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.column-data, .bottom-footer-rights {
    font-size: 0.8em;
    color: #83A7A5;
    list-style: none;
    text-decoration: none;
}

.column-input {
    position: relative;
}

.newsletter-email-input {
    border-radius: 3px;
    width: 100%;
    height: 3em;
    background-color: #EEF1EC;
    border: none;
    padding: 0.5em 0;
    padding-left: 2em;
}

.newsletter-email-icon {
    position: absolute;
    top: 10px;
    left: 80%;
    z-index: 1;
}


.f-email {
    color: #0F5F5C;
}

.bottom-footer {
    padding: .5em 0;

    border-top: 1px solid #83A7A5;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.link {
    margin: 1em 0;
}

.link + .link {
    margin-left: 1em;

}

.link:hover {
    opacity: 0.8;
}

.facebook-link {
    color: #3B5998;
}

.discord-link {
    color: #EA4C89;
}

.telegram-link  {
    color: #55ACEE;
}

.github-link {
    color: #333333;
}


/* attribute to origin of  psd */

.attribute {
    color: #55ACEE;
    position: fixed;
    bottom: 5px;
    right: 10px;
}